// Main colors

$main-grey: #F0F0F0;     // main-background
$main-active: #DF5B28;   // main-active
$main-black: #020202;    // main-black

$dark-active: #b4491f;
// Additional colors

$add-green: #56AB14;
$add-red: #CE2424; 

// Решить проблему с компонентным подключением переменных